.main_footerBlade {
  width: 100%;
  background-color: #ed8663;
  padding: 80px 0;
  background-image: url(./bg/Asset\ 8.svg);
  background-position: bottom right 3vw;
  background-size: min(80%, 850px) auto;
  background-repeat: no-repeat;
}

.footerBlade_flex {
  width: min(85%, 1400px);
  margin: 0 auto;
  color: #fff;
}

.footerBlade_flex h2 {
  font-size: 49px;
  font-weight: 400;
  font-family: vanioregular;
  background: url(./bg/springVector.png) no-repeat center center;
  background-position: 25%;
}

.footerBlade_flex p {
  font-weight: 300;
  margin: 30px 0;
  font-size: 25px;
}

@media screen and (max-width: 768px) {
  .main_footerBlade {
    padding-top: 10px;
  }

  .br_hide {
    display: none;
  }

  .footerBlade_flex {
    width: 100%;
    padding: 5%;
    text-align: center;
  }

  .footerBlade_flex h2 {
    font-size: 30px;
    background: none;
  }

  .footerBlade_flex p {
    font-size: 25px;
    margin-top: 10px;
  }
}
@media screen and (max-width: 768px) {
  .main_footerBlade {
    padding-top: 10px;
    margin-bottom: 0px;
  }

  .br_hide {
    display: none;
  }

  .footerBlade_flex {
    width: 100%;
    text-align: center;
  }

  .footerBlade_flex h2 {
    font-size: 1.25rem;
    background: none;
    font-family: vanio;
  }

  .footerBlade_flex p {
    font-size: 0.8rem;
  }
}
