.refer-card {
    margin-top: 5%;
    width: 100%;
}

.how-works {
    margin-top: 1rem;
}

.wrapper {
    text-align: center;
    width: 15%;
}

.wrapper .circle {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    color: #e65552;
    margin: 0 auto;
}

.how-works span {
    width: 16vw !important;
    height: 2px;
    background-color: #fff;
    margin-top: 5vw;
}

@media only screen and (max-width: 600px) {
    .how-works span {
      
    }
    .wrapper .circle {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        color: #e65552;
        margin: 0 auto;
        font-size: 15px;
    }
}

.how-it-works-popup {
    position: fixed;
    top: 0%;
    left: 0%;
    width: 100%;
    height: 100vh;
    z-index: 10000000;

}

.how-it-works-banner h1 {
    text-align: center;
    font-weight: bold;
}

.how-it-works-popup .how-it-works-banner {
    height: 60vh;

}


.work-butn {
    display: inline-block;
    position: relative;
    overflow: hidden;
    z-index: 1;
    transition: all 1s ease;
    border-radius: 35px;
    border: 2px solid #fff;
}

.work-butn:hover {
    color: #e65552;
}

.btn-back {
    position: absolute;
    top: 0%;
    left: 0%;
    width: 0%;
    height: 100%;
    background-color: #fff;
    z-index: -1;
    transition: all 1s ease;
}

.work-butn:hover .btn-back {
    width: 100%;
}

.refer-heading {
    position: relative;
    background-image: url(../../../assets/icons/star.svg), url(../../../assets/icons/circle_rope.svg);
    background-position: 28%, 75%;
    background-size: 10%, 20%, 10%;
    background-repeat: no-repeat, no-repeat, no-repeat;
    padding: 1rem 0rem;
}


.refer-heading::after img {
    width: 100%;
}