.privacy-policy {
    border: 2px solid red;
    width: 100%;
}


/* 
 h1 {
    font-family: Epilogue;
    color: #E75553;
    font-size: xx-large;
    font-weight: bold;
    margin-top: 3%;   

}

h2 {
    font-family: Epilogue;
    font-size: x-large;
    font-weight: 500;
    margin-top: 1rem;    
}

h3 {
    font-family: Epilogue;
    color: #000000;
    font-size: large;
    font-weight: 600;
    margin-top: 1rem; 
}
p {
    font-family: Epilogue;
    color: #000000;
    font-size: large;
}


ul {
    list-style: disc;
    margin-left: 1.5rem;
}

@media only screen and (max-width: 600px) {
    h1 {
        font-size: large;
    }
    h2 {
        font-size: large;
    }
} */